<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <!-- <testsuite name="Integration">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite> -->
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Contracts</directory>
        </exclude>
    </coverage>

    <php>
        <env name="STATSD_ENABLED" value="false"/>
        <env name="STATSD_HOST" value="localhost"/>
        <env name="STATSD_PORT" value="8125"/>
        <env name="STATSD_NAMESPACE" value="test"/>
    </php>
</phpunit>
